{% extends "internal/maintenance/maintenance_base.html" %}

{% block title %} Fueling person infromation {% endblock %}

{% block content %}

<h2 align="center">My detailed information</h1>

    <div class="container py-5">
        <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
            <div class="card-body text-center">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                class="rounded-circle img-fluid" style="width: 150px;">
                <h5 class="my-3">John Smith</h5>
                <p class="text-muted mb-1">Maintenance person</p>
            </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="card mb-4">
            <div class="card-body">
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Full Name</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">Johnatan Smith</p>
                </div>
                </div>
                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Email</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">jsmith@gmail.com</p>
                </div>
                </div>

                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Phone</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">87771234545</p>
                </div>
                </div>

                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Address</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">Bay Area, San Francisco, CA</p>
                </div>
                </div>

                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Username</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">Jonsmith</p>
                </div>
                </div>

                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">Government ID</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">020915114477</p>
                </div>
                </div>

                <hr>
                <div class="row">
                <div class="col-sm-3">
                    <p class="mb-0">User ID</p>
                </div>
                <div class="col-sm-9">
                    <p class="mb-0">12345</p>
                </div>
                </div>

            </div>
        </div>
        </div>
    </div>
    


{% endblock %}