{% extends "internal/driver/driver_base.html" %}

{% block title %} Driver Routes History {% endblock %}

{% block content %}

<h1>My Previous Routes</h1>


<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Date</th>
        <th scope="col">Start time</th>
        <th scope="col">End Time</th>
        <th scope="col">Start point</th>
        <th scope="col">End point</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>24.11.2023</td>
        <td>11:55</td>
        <td>12:45</td>
        <td>Kabanbay batyr ave., 53</td>
        <td>Shamshy Qaldayaqov st., 4</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>21.11.2023</td>
        <td>16:20</td>
        <td>17:00</td>
        <td>Turan ave., 44</td>
        <td>Raqymjan Qoshqarbayev ave., 2</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>19.11.2023</td>
        <td>09:30</td>
        <td>10:15</td>
        <td>Nurzhol Blvd., 77</td>
        <td>Abay Qunanbayuli st., 12</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>15.11.2023</td>
        <td>14:45</td>
        <td>15:30</td>
        <td>Pushkin st., 28</td>
        <td>Satpayev st., 9</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>10.11.2023</td>
        <td>18:00</td>
        <td>19:20</td>
        <td>Zhandosov st., 5</td>
        <td>Al-Farabi Ave., 98</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>05.11.2023</td>
        <td>11:10</td>
        <td>11:50</td>
        <td>Kurmangazy st., 36</td>
        <td>Baitursynov st., 15</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>02.11.2023</td>
        <td>20:30</td>
        <td>21:15</td>
        <td>Auezov st., 8</td>
        <td>Sayakhat st., 22</td>
      </tr>
    </tbody>
  </table>

{% endblock %}