{% extends "internal/driver/driver_base.html" %}

{% block title %} View Vehicle Details {% endblock %}

{% block content %}

<h1>Vehicle Details</h1>


<div class="container py-5">
    <div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
        <div class="card-body text-center">
            <img src="../../static/img/camry1.jpg" alt="car-image"
            class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">Toyota Camry 55</h5>
        </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="card mb-4">
        <div class="card-body">
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Model</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">Camry 55</p>
            </div>
            </div>
            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Make</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">Toyota</p>
            </div>
            </div>

            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Year</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">2020</p>
            </div>
            </div>

            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">License plate</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">132ABC03</p>
            </div>
            </div>

            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Sitting capacity</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">4</p>
            </div>
            </div>

            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Registered By</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">Admin1</p>
            </div>
            </div>

            <hr>
            <div class="row">
            <div class="col-sm-3">
                <p class="mb-0">Mileage</p>
            </div>
            <div class="col-sm-9">
                <p class="mb-0">1000km</p>
            </div>
            </div>
        </div>
    </div>
    </div>
</div>



{% endblock %}